<%- include('../partials/header') %>

  <h1>Create new list</h1>

  <form action="/collection" method="POST">
    <label for="name">List name</label>
    <input type="text" name="name"><br>
    <button type="submit">Create List</button>
  </form>

  <%- include('../partials/footer') %>