* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #3c4748;
}

main {
  display: flex;
  justify-content: center;
}

.contentWidth {
  width: 350px;
  margin: 15px 0px 15px 0px;
}

a {
  text-decoration: none;
  color: black;
}

/* header */

header>* {
  width: 100vw;
  text-align: center;
}

header>h1 {
  margin: 0px;
  padding: 10px 0px 10px 0px;
  font-family: 'Audiowide', cursive;
  color: #cae9ea;
  background-color: #1d1d1d;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #2D3A3A;
}

.navbar>* {
  width: 110px;
  padding: 4px;
  color: #208c8c;
  font-size: 12px;
  font-family: 'Orbitron', sans-serif;
}

.navbar>*:hover {
  background-color: rgb(29, 29, 29, 0.6);
}

/* search page */

.search {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.search>input[type="text"] {
  width: 150px;
  padding: 2px;
  border-radius: 5px;
  outline: none;
  background-color: #2D3A3A;
}

.search>button {
  margin-top: 5px;
  border-radius: 5px;
  border: none;
  font-family: 'Orbitron', sans-serif;
  color: #1d1d1d;
  background-color: #cae9ea;
}

.search>button:hover {
  color: #272727;
  background-color: #208c8c;
}

.results {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.result {
  width: 350px;
  height: 300px;
  border-radius: 25px;
  margin-top: 20px;
  background-color: #1d1d1d;
  text-align: center;
}

.resultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultContainer>* {
  margin: 0;
  color: #cae9ea;
  font-family: 'Orbitron', sans-serif;
}

.searchImg {
  height: 200px;
  width: 350px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.released {
  margin: 5px 5px 3px 0px;
  align-self: end;
  font-size: 12px;
}

.searchGenres {
  margin-top: 9px;
  width: 250px;
  font-size: 12px;
}

/* collection display */

.listTitle {
  margin: 0px 0px 10px 0px;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 20px;
  color: #cae9ea;
}

.deleteList {
  display: flex;
  flex-direction: column;
}

.deleteList>button {
  align-self: flex-end;
}

.gamesList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listItem {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  width: 350px;
  height: 100px;
}

.item {
  display: flex;
  flex-direction: row;
  width: 325px;
}

.item>img {
  width: 150px;
  height: 100px;
}

.gameInfo {
  margin-left: 5px;
  height: 100px;
}

.gameInfo>* {
  margin: 0px 0px 5px 0px;
  font-family: 'Orbitron', sans-serif;
  font-size: 15px;
  color: #cae9ea;
}

.gameInfo>p {
  font-size: 12px;
}

.removeGame {
  align-self: center;
}

.removeButton {
  background-color: #3c4748;
  border: none;
}

.removeImg {
  width: 25px;
  height: 25px;
}

/* show page */

.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #cae9ea;
}

.heading {
  margin: 0px 0px 16px 0px;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  color: #208c8c;
}

.basicInfoShow {
  text-align: center;
}

.basicInfoShow>img {
  width: 300px;
  height: 200px;
}

.basicInfoShow>* {
  margin: 0px 0px 8px 0px;
}

.playerInfo>* {
  margin: 0px 0px 8px 0px;
}

.ratings {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;
}

.ratings>* {
  margin: 0px 8px 0px 8px;
}

.gameInfoShow {
  width: 350px;
  height: auto;
}

.gameInfoShow>* {
  margin: 0px 0px 8px 0px;
}

.gameProperty {
  text-align: center;
}

.collectionOptions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0px 10px 0px;
}

.collectionOptions>* {
  margin: 0px 5px 0px 5px;
}

/* dashboard */

.dashboard {
  display: flex;
  justify-content: center;
  margin: 15px 0px 15px 0px;
}

.dashboardContent {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.newList {
  align-self: flex-end;
}

.dashboardList>h2 {
  margin: 16px 0px 8px 0px;
  color: #208c8c
}

.dashboardList>p {
  margin: 0px;
  color: #cae9ea;
}

/* form pages */

.inputForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #cae9ea;
}

div>input[type="text"] {
  outline: none;
  background-color: #2D3A3A;
}

.playerInfoImg {
  width: 300px;
  height: 200px;
  margin-bottom: 5px;
}

@media only screen and (min-width: 481px) {

  /* can delete */
  .contentWidth {
    width: 400px;
    margin: 15px 0px 15px 0px;
  }

  /* header */

  .navbar>* {
    width: 130px;
    font-size: 14px;
  }

  /* search page */

  .search>input[type="text"] {
    width: 150px;
    padding: 2px;
    border-radius: 5px;
  }

  .search>button {
    margin-top: 5px;
    border-radius: 5px;
  }

  /* collection display */

  .listTitle {
    margin: 0px 0px 12px 0px;
    font-size: 24px;
  }

  .listItem {
    margin-bottom: 15px;
    width: 400px;
    height: 115px;
  }

  .item {
    width: 365px;
  }

  .item>img {
    width: 170px;
    height: 115px;
  }

  .gameInfo {
    margin-left: 8px;
    height: 115px;
  }

  .gameInfo>* {
    margin: 0px 0px 5px 0px;
    font-size: 18px;
  }

  .gameInfo>p {
    font-size: 14px;
  }

  .removeImg {
    width: 30px;
    height: 30px;
  }

  /* show page */

  .heading {
    margin: 0px 0px 16px 0px;
  }

  .basicInfoShow>img {
    width: 400px;
    height: 270px;
  }

  .basicInfoShow>* {
    margin: 0px 0px 8px 0px;
  }

  .playerInfo>* {
    margin: 0px 0px 8px 0px;
  }

  .ratings {
    height: 18px;
  }

  .ratings>* {
    margin: 0px 8px 0px 8px;
  }

  .gameInfoShow {
    width: 400px;
  }

  .gameInfoShow>* {
    margin: 0px 0px 8px 0px;
  }

  .collectionOptions {
    margin: 10px 0px 10px 0px;
  }

  .collectionOptions>* {
    margin: 0px 5px 0px 5px;
  }

  /* dashboard */

  .dashboard {
    margin-top: 15px;
  }

  .dashboardContent {
    width: 400px;
  }

  .dashboardList>h2 {
    margin: 16px 0px 8px 0px;
  }

  /* form pages */

  .playerInfoImg {
    width: 400px;
    height: 270px;
    margin-bottom: 5px;
  }
}

@media only screen and (min-width: 769px) {

  /* can delete */
  .contentWidth {
    width: 740px;
    margin: 20px 0px 20px 0px;
  }

  /* header */

  .navbar>* {
    width: 130px;
    font-size: 14px;
  }

  /* search page */

  .search>input[type="text"] {
    width: 175px;
    padding: 4px;
    border-radius: 7px;
  }

  .search>button {
    margin-top: 8px;
    border-radius: 7px;
    font-size: 14px;
    width: 80px;
    padding: 4px;
  }

  .result {
    margin: 20px 10px 0px 10px;
  }

  /* collection display */

  .listTitle {
    margin: 0px 0px 12px 0px;
    font-size: 24px;
  }

  .listItem {
    margin-bottom: 15px;
    width: 600px;
    height: 170px;
  }

  .item {
    width: 553px;
  }

  .item>img {
    width: 250px;
    height: 170px;
  }

  .gameInfo {
    margin-left: 10px;
    height: 170px;
  }

  .gameInfo>* {
    margin: 0px 0px 5px 0px;
    font-size: 20px;
  }

  .gameInfo>p {
    font-size: 16px;
  }

  .removeImg {
    width: 35px;
    height: 35px;
  }

  /* show page */

  .show {
    font-size: 18px;
  }

  .heading {
    margin: 8px 0px 16px 0px;
  }

  .basicInfoShow>img {
    width: 500px;
    height: 340px;
  }

  .basicInfoShow>* {
    margin: 0px 0px 8px 0px;
  }

  .playerInfo>* {
    margin: 0px 0px 8px 0px;
  }

  .ratings {
    height: 22px;
  }

  .ratings>* {
    margin: 0px 8px 0px 8px;
  }

  .gameInfoShow {
    width: 500px;
  }

  .gameInfoShow>* {
    margin: 0px 0px 8px 0px;
  }

  .collectionOptions {
    margin: 10px 0px 10px 0px;
  }

  .collectionOptions>* {
    margin: 0px 5px 0px 5px;
  }

  /* dashboard */

  .dashboard {
    margin: 20px 0px 20px 0px;
  }

  .dashboardContent {
    width: 500px;
    font-size: 18px;
  }

  .dashboardList>h2 {
    margin: 16px 0px 8px 0px;
  }

  /* form pages */

  .playerInfoImg {
    width: 500px;
    height: 340px;
    margin-bottom: 5px;
  }
}

@media only screen and (min-width: 1200px) {

  /* can delete */
  .contentWidth {
    width: 1110px;
    margin: 20px 0px 20px 0px;
  }

  /* header */

  .navbar>* {
    width: 150px;
    font-size: 16px;
    padding: 6px;
  }

  /* search page */

  .search>input[type="text"] {
    width: 200px;
    padding: 4px;
    border-radius: 7px;
  }

  .search>button {
    margin-top: 8px;
    border-radius: 7px;
    font-size: 14px;
    width: 80px;
    padding: 4px;
  }


  /* collection display */

  .listTitle {
    margin: 0px 0px 15px 0px;
    font-size: 28px;
  }

  .listItem {
    margin-bottom: 18px;
    width: 800px;
    height: 230px;
  }

  .item {
    width: 748px;
  }

  .item>img {
    width: 335px;
    height: 230px;
  }

  .gameInfo {
    margin-left: 15px;
    height: 170px;
  }

  .gameInfo>* {
    margin: 0px 0px 10px 0px;
    font-size: 25px;
  }

  .gameInfo>p {
    font-size: 16px;
  }

  .removeImg {
    width: 40px;
    height: 40px;
  }

  /* show page */

  .show {
    font-size: 22px;
  }

  .heading {
    margin: 8px 0px 16px 0px;
  }

  .basicInfoShow>img {
    width: 500px;
    height: 340px;
  }

  .basicInfoShow>* {
    margin: 0px 0px 8px 0px;
  }

  .playerInfo>* {
    margin: 0px 0px 8px 0px;
  }

  .ratings {
    height: 25.5px;
  }

  .ratings>* {
    margin: 0px 8px 0px 8px;
  }

  .gameInfoShow {
    width: 600px;
  }

  .gameInfoShow>* {
    margin: 0px 0px 8px 0px;
  }

  .collectionOptions {
    margin: 10px 0px 10px 0px;
  }

  .collectionOptions>* {
    margin: 0px 5px 0px 5px;
  }

  /* dashboard */

  .dashboard {
    margin: 20px 0px 20px 0px;
  }

  .dashboardContent {
    width: 800px;
    font-size: 22px;
  }

  .dashboardList>h2 {
    margin: 25px 0px 0px 0px;
  }

  /* form pages */

  .playerInfoImg {
    width: 500px;
    height: 340px;
    margin-bottom: 5px;
  }
}

@media only screen and (min-width: 1500px) {

  /* can delete */
  .contentWidth {
    width: 1500px;
    margin: 20px 0px 20px 0px;
  }

  /* search page */

  .search>input[type="text"] {
    width: 250px;
    padding: 4px;
    border-radius: 7px;
  }

  .search>button {
    margin-top: 8px;
    border-radius: 7px;
    font-size: 16px;
    width: 80px;
    padding: 4px;
  }


  /* collection display */

  .listTitle {
    margin: 0px 0px 15px 0px;
    font-size: 28px;
  }

  .listItem {
    margin-bottom: 18px;
    width: 800px;
    height: 230px;
  }

  .item {
    width: 748px;
  }

  .item>img {
    width: 335px;
    height: 230px;
  }

  .gameInfo {
    margin-left: 15px;
    height: 170px;
  }

  .gameInfo>* {
    margin: 0px 0px 10px 0px;
    font-size: 25px;
  }

  .gameInfo>p {
    font-size: 16px;
  }

  .removeImg {
    width: 40px;
    height: 40px;
  }

  /* show page */

  .show {
    font-size: 22px;
  }

  .heading {
    margin: 8px 0px 16px 0px;
  }

  .basicInfoShow>img {
    width: 500px;
    height: 340px;
  }

  .basicInfoShow>* {
    margin: 0px 0px 8px 0px;
  }

  .playerInfo>* {
    margin: 0px 0px 8px 0px;
  }

  .ratings {
    height: 25.5px;
  }

  .ratings>* {
    margin: 0px 8px 0px 8px;
  }

  .gameInfoShow {
    width: 600px;
  }

  .gameInfoShow>* {
    margin: 0px 0px 8px 0px;
  }

  .collectionOptions {
    margin: 10px 0px 10px 0px;
  }

  .collectionOptions>* {
    margin: 0px 5px 0px 5px;
  }

  /* dashboard */

  .dashboard {
    margin: 20px 0px 20px 0px;
  }

  .dashboardContent {
    width: 600px;
    font-size: 22px;
  }

  .dashboardList>h2 {
    margin: 25px 0px 0px 0px;
  }

  /* form pages */

  .playerInfoImg {
    width: 500px;
    height: 340px;
    margin-bottom: 5px;
  }
}